@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "./styles/ui.css";


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.01em;
}

#unity-canvas {
  background: transparent !important;
}
